<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XOR Project - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="{{ url_for('static', filename='game/generatePlain.js') }}"></script>
</head>
<header>
    <div class="container">
        {% if username %}
            <h1>Welcome back, {{ username }}!</h1>
            <a href="/logout">Logout</a>
            <form action="/game">
                <button type="submit">Go to Game</button>
            </form>
        {% endif %}
    </div>
</header>
<body>

    <canvas id="backgroundCanvas"></canvas> <!-- for background-->

    <div class="container">
        <h1> Leaderboard </h1>
        <table id="leaderboard-table" class="display" style="width: 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            {% for item in users_list %}
            <tr>
                <td>{{item.username}}</td>
                <td>{{item.wins}}</td>
                <td>{{item.games - item.wins}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        window.onload = () => {
            generatePlainsBiome('backgroundCanvas');
        };
    </script>

</body>
<footer>
    <div class="container">
        <form action="/">
            <button type="submit">Go Home</button>
        </form>
    </div>
</footer>
</html>